---
import If from '@/components/atomic/If.astro'
import { Icon } from 'astro-icon/components'

interface Props {
  title?: string,
  class?: string,
  iconName?: string
}

const { props } = Astro
---

<div class="card p4 mb4" class:list={props.class}>
  <If condition={props.title}>
    <h1 class="flex items-center lh-loose text-lg">
      <If condition={props.iconName}>
        <span class="mr2">
          <Icon name={props.iconName} slot="icon"/>
        </span>
      </If>
      <span class="wfull">{props.title}</span>
      <slot name="extra"></slot>
    </h1>
  </If>
  <slot></slot>
</div>