---
import If from '../atomic/If.astro'

interface Props {
  type: 'primary'|'normal'|'simple'|string,
  name: string,
  link: string,
  avatar: string,
  descr: string,
  siteshot?: string,
}
const { type, name, link, avatar, descr, siteshot } = Astro.props
---

<If condition={type==='primary'}>
  <div class="card inline-block w75 h48 b b-#ccc dark:b-#444 group overflow-hidden hover:b-gradientBlue-middle">
    <a target="_blank" class="full block" href={link}>
      <img class="full group-hover:scale-110 duration-500" alt={name} src={siteshot}>
    </a>
    <a target="_blank" class="full block bg-mask flex-col content-center text-center dark:text-#fff text-#222 transition-transform  -translate-y-full group-hover:-translate-y-[200%] duration-500" href={link}>
      <div class="h66% wfull flex items-center">
        <img class="w16 h16 m-auto rounded-10 bg-global b b-#ccc dark:b-#444" alt={name} src={avatar}>
      </div>
      <div class="h34% wfull flex-col content-center text-sm text-ellipsis whitespace-nowrap bg-mask shadow-[0_0_10px_rgba(0,0,0,0.3)]">
        <div class="text-md lh-relaxed">{name}</div>
        <div class="px1 truncate text-xs text-#777 dark:text-#aaa">{descr}</div>
      </div>
      </div>
    </a>
  </div>
</If>

<If condition={type==='normal'}>
  <div class="card inline-block w49.5 b b-#ccc dark:b-#444 group overflow-hidden  hover:b-gradientBlue-middle">
    <a target="_blank" class="full block" href={link}>
      <div class="wfull h27 pos-relative overflow-hidden flex items-center">
        <img class="full group-hover:scale-110 duration-500" alt={name} src={siteshot}>
        <div class="full bg-mask pos-absolute top-0 left-0 group-hover:opacity-0 transition-opacity duration-250"></div>
      </div>
      <div class="flex flex-col py1 px4 b-t b-#ccc dark:b-#444">
        <div class="flex text-sm lh-relaxed">
          <img class="w5 h5 m-auto rounded-3 bg-global b b-#ccc dark:b-#444" alt={name} src={avatar}>
          <div class="truncate ml1 flex-1">{name}</div>
        </div>
        <div class="pl6 pr1 wfull truncate text-xs text-#777 dark:text-#aaa">{descr}</div>
      </div>
    </a>
  </div>
</If>

<If condition={type==='simple'}>
  <div class="card inline-flex w60 flex-col py2 px4 b b-#ccc dark:b-#444  hover:b-gradientBlue-middle overflow-hidden">
    <a target="_blank" class="flex" href={link}>
      <img class="w10 h10 m-auto rounded-5 bg-global b b-#ccc dark:b-#444" alt={name} src={avatar}>
      <div class="flex-1 ml2 wfull overflow-hidden">
        <div class="truncate text-sm flex-1">{name}</div>
        <div class="truncate text-xs text-#777 dark:text-#aaa">{descr}</div>
      </div>
    </a>
  </div>
</If>





