---
import { Icon } from 'astro-icon/components'
import { SITE_INFO, NAV_ITEMS } from '@/config'
import { titleColor2gcTextstyleVars } from '@/utils'
import ThemeIcon from './widget/ThemeIcon.astro'
---

<nav id="nav" class="w-screen h15 fixed top-0 bg-normal shadow-md flex opacity-90 z-10 transition-transform duration-500">
  <div class="wfull max-w-screen-2xl m-auto flex px3 items-center">
    <div class="flex flex-1">
      <h1 class="text-xl font-bold">
        <a class="gc-text" style={titleColor2gcTextstyleVars('var(--colors-gradientBlue-left),var(--colors-gradientBlue-right)|var(--colors-gradientBlue-right),var(--colors-gradientBlue-left)')} href="/">{SITE_INFO.title}</a>
      </h1>
      <div class="flex space-x-2 px4 items-center text-xl">
        <ThemeIcon class="active"/>
      </div>
    </div>
    <div class="hidden lg:flex space-x-4 text-1.04em">
      {NAV_ITEMS.map(navItem =>(
        <div class="nav-item group pos-relative">
          <a class="flex items-center" href={navItem.href} class:list={navItem.href===Astro.originPathname||navItem?.children?.find(navItemChild=>navItemChild.href===Astro.originPathname)?'active':''}>
            <Icon class="text-xl mr1" name={navItem.icon}/>
            <span>{navItem.text}</span>
          </a>
          {!navItem.children?'':
          <div class="hidden group-hover:block pos-absolute h3 wfull"></div>
          <div class="nav-item-children hidden group-hover:block pos-absolute mt3 -mr2 pos-right-0 rounded-sm w-[max-content] shadow-[0_5px_15px_-4px_#00000080] animate-move-up-sm">
            {navItem.children.map(navItemChild=>(
              <a class="flex py3 px4 items-center bg-normal hover:bg-global" href={navItemChild.href} class:list={navItemChild.href===Astro.originPathname?'active':''}>
                <Icon class="text-xl mr1" name={navItemChild.icon}/>
                <span class="flex">{navItemChild.text}</span>
              </a>
            ))}
          </div>}
        </div>
      ))}
    </div>
    <div class="lg:hidden flex text-1.04em">
      <slot></slot>
    </div>
  </div>
</nav>

<script>
  const nav = document.querySelector<HTMLElement>("#nav")!;
  let lastScrollTop = window.scrollY;
  let isThrottled = false;
  nav.style.transform = window.scrollY != 0 ? "translateY(-100%)" : "translateY(0)";

  window.addEventListener("scroll", () => {
    if (isThrottled) return;
    const currentScrollTop = window.scrollY;
    const isScrollingDown = currentScrollTop > lastScrollTop;
    nav.style.transform = isScrollingDown ? "translateY(-100%)" : "translateY(0)";
    lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop;
    isThrottled = true;
    setTimeout(() => { isThrottled = false }, 100);
  });
</script>

<style is:global>
  #nav .active {
    color: var(--colors-gradientBlue-middle);
  }
</style>