---
import type { Post } from "@/content/posts";
import { ensureTitleIcon, titleColor2gcTextstyleVars } from '@/utils'
import TitleIcon from "./widget/TitleIcon.astro";
import PostMeta from "./PostMeta.astro";
import { Icon } from "astro-icon/components";
import If from "./atomic/If.astro";
import Markdown from "./atomic/Markdown.astro";
interface Props {
  post: Post
}
const { post } = Astro.props
---

<div class="card p10 pos-relative overflow-hidden" data-pagefind-ignore>
  <If condition={post.data.top||post.data.password}>
    <div class="text-2xl pos-absolute top-2 -right-7 rotate-45 b bg-gray-1 shadow-md py1 dark:bg-dark-4 dark:b-dark-1 flex w26 justify-center color-#aaa">
      <If condition={post.data.top}><Icon class="color-#ff7242" name="mdi:pin"/></If>
      <If condition={post.data.password}><Icon class="text-xl" name="mdi:lock"/></If>
    </div>
  </If>
  <h1 class="group text-2xl font-semibold flex items-center ml-[-1em]" style={titleColor2gcTextstyleVars(post.data.titleColor)}>
    <span class="gc-text w-1em opacity-0 group-hover:opacity-100">「</span>
    <span class="w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8 mr-1">
      <TitleIcon {...ensureTitleIcon(post.data.titleIcon)}/>
    </span>
    <a class="gc-text" href={'/posts/'+post.id}>{post.data.title}</a>
    <span class="gc-text w-1em opacity-0 group-hover:opacity-100">」</span>
  </h1>
  <div class="pt-3 pb-4"><PostMeta post={post}/></div>
  <div class="min-h-5em p3">
    <If condition={!post.data.password}>
      <div class="text-sm my3"><Markdown render set:html={post.data.description}/></div>
    </If>
    <If condition={post.data.password}>
      <div class="text-sm my3"><Markdown render set:html={post.data.encrypt.description}/></div>
    </If>
  </div>
  <div class="font-mono">
    <slot name="tag-start"></slot>
    {post.data.tags?.map(tag=>(<a class="btn-sm mr1" href={'/tags/'+tag}>{tag}</a> ))}
  </div>
</div>