---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';
import Id from '@/pages/blog/[id].astro';
import { ostring } from 'astro:schema';

type Props = { post: CollectionEntry<'blog' | 'zcc'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title } = post.data;
if (post.id === 'react-scheduler') {
    console.log(post);
}
let description;
let publish_date;
let update_date;
if ('publishDate' in post.data) {
    description = post.data.excerpt;
    publish_date = post.data.publishDate;
    update_date = post.data.updatedDate;
} else {
    publish_date = post.data.publish_date;
    update_date = post.data.update_date;
}
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/blog/${post.id}/`}>
    <div class="grow">
        <TitleTag
            class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
        >
            {title}
        </TitleTag>
        <div class="mt-1 text-sm leading-normal">
            <FormattedDate date={publish_date} />
            {
                update_date && (
                    <>
                        {' '}
                        <span>
                            (Updated on <FormattedDate date={update_date} />)
                        </span>
                    </>
                )
            }
        </div>
        {description && <div class="mt-3 text-sm leading-normal">{description}</div>}
    </div>
    <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
        Read Post <ArrowRight class="fill-current w-4 h-4" />
    </div>
</a>
