---
import { Icon } from "astro-icon/components"
import { type Post } from "@/content/posts";

interface Props {
  post: Post
}
const { post } = Astro.props
---

<div class="text-textDesc text-sm" data-pagefind-ignore>
  <span class="inline-flex items-center mr1em space-x-1">
    <Icon name="mdi:calendar-month"/>
    <span>发表于</span>
    <time class="pubDate" datetime={post.data.publishDateISOString}>{post.data.publishDateFormatString}</time>
  </span>
  <span class="inline-flex items-center mr1em space-x-1">
    <Icon name="mdi:calendar-month"/>
    <span>修改于</span>
    <time class="modifyDate" datetime={post.data.updatedDateISOString}>{post.data.updatedDateFormatString}</time>
  </span>
  <span class="inline-flex items-center mr1em">
    <Icon name="mdi:folder-open" class="mr-1"/>
    {post.data.categoriesItems.map((c,i) =>(
      <span><a href={`/categories${c.path}`}>{c.name}</a>{i==post.data.categoriesItems.length-1?'':<span class="select-none">丨</span>}</span>
    ))}
  </span>
  <span class="inline-flex items-center mr1em space-x-1">
    <Icon name="mdi:file-document-multiple-outline"/>
    <span>{post.data.readingTimeWords} 字</span>
  </span>
  <span class="inline-flex items-center mr1em space-x-1">
    <Icon name="mdi:file-clock-outline"/>
    <span>{post.data.readingTimeHumanizeText}</span>
  </span>
</div>