---
import { Icon } from "astro-icon/components"
import { NAV_ITEMS, SIDEBAR_SETTINGS as SETTING } from "@/config"
---

<div id="sidebar" class="w-70 text-lg">
  <div class="text-center pt5 pb5">
    <div class="m-auto of-hidden w-110px h-110px rounded-70px b b-solid b-linePrim">
      <img class="full object-cover bg-#000/5" src={SETTING.avatar} alt=""/>
    </div>
    <div class="fw-500 text-xl lh-loose">{SETTING.name}</div>
  </div>
  <hr>
  <div class="p2 lh-loose">
    {
      NAV_ITEMS.map(navItem =>(
      <div>
        <a class="flex items-center px7 py1" href={navItem.href} class:list={navItem.href===Astro.originPathname?'active':''}>
          <Icon class="text-xl mr1" name={navItem.icon}/>
          <span>{navItem.text}</span>
        </a>
        {!navItem.children?'':
        <div class="ml-1em">
          {navItem.children.map(navItemChild=>(
            <a class="flex items-center px7 py1" href={navItemChild.href} class:list={navItemChild.href===Astro.originPathname?'active':''}>
              <Icon class="text-xl mr1" name={navItemChild.icon}/>
              <span class="flex">{navItemChild.text}</span>
            </a>
          ))}
        </div>}
      </div>
      ))
    }
  </div>
</div>

<style lang="sass">
#sidebar
  a
    transition: color 0s
  a:hover
    color: #fff!important
    background-color: var(--colors-gradientBlue-left)
    .dark &
      background-color: var(--colors-gradientBlue-right)
  a.active
    color: var(--colors-gradientBlue-middle)
</style>