---
import BaseLayout from '@/layouts/BaseLayout.astro'
import TitleHuge from '@/components/widget/TitleHuge.astro'
import type { EnsuredCardParams } from '@/components/AsideCards'
type Props = {
  frontmatter?: Props //for .mdx layout
} & {
  title: string
  titleIcon?: string
  titleColor?: string
  titleShow?: boolean
  titleIconOff?: boolean
  asideOff?: boolean
  asideCards?: EnsuredCardParams[],
}
const { title, titleIcon, titleColor, titleShow, titleIconOff, asideOff, asideCards } = Astro.props.frontmatter || Astro.props
---

<BaseLayout subtitle={title} description={title} {asideOff} {asideCards}>

  <div class="card wfull p8 lg:p13">
    <TitleHuge {title} {titleIcon} {titleColor} {titleShow} {titleIconOff}/>
    <slot/>
  </div>
  <slot name="after"></slot>
  
</BaseLayout>